<header>
  <a class="navbar-brand" href="./">Assignment B1 - CRUD Snippets</a>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./snippets/">Snippet List</a>
      </li>
      <% if (typeof username === 'undefined') { %>
      <li class="nav-item">
        <a class="nav-link" href="./users/login">Login</a>
      </li>
      <% } %>
      <% if (typeof username !== 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link" href="./snippets/create">Create Snippets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./users/logout">Logout</a>
        </li>
        <li>
          Hello, <a class="nav-link" href="./users/account"><%= username %></a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>