<div class="center-content">
  <h1>Login</h1>
  <form class="login-form" method="post" action="./users/login">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <label class="form-label" for="usernameInput">
      Username
    </label>
    <input type="text" class="form-control" id="usernameInput" name="username"
     required="required" autofocus="autofocus" />
    <label class="form-label" for="passwordInput"></label>
      Password
    </label>
    <input type="password" class="form-control" id="passwordInput" name="password"
      required="required" autofocus="autofocus" />
     <button type="submit" class="btn btn-primary">Login</button>
     <p>Not a user yet? <a class="nav-link" href="./users/register">Register here</a></p>
  </form>
</div>