<div class="center-content">
  <h1>Register</h1>
  <form class="register-form" method="post" action="./users/register">
    <label class="form-label" for="usernameInput">
      Username
    </label>
    <input type="text" class="form-control" id="descriptionInput" name="username"
    placeholder="Choose a username" required="required" autofocus="autofocus" />
    <label class="form-label" for="passwordInput"></label>
      Password
    </label>
    <input type="password" class="form-control" id="descriptionInput" name="password"
      placeholder="Make it a strong one ;)" required="required" autofocus="autofocus" />
     <button type="submit" class="btn btn-primary">Create account</button>
     <p>Already a user? <a class="nav-link" href="./users/login">Login here</a></p>
  </form>
</div>